body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.screen {
  text-align: center;
  margin-top: 50px;
  opacity: 1;
  transition: opacity 1s ease;
}

.screen.hidden {
  display: none;
  opacity: 0;
}

.screen.fade-out {
  opacity: 0;
}

.logo {
  max-width: 200px;
  display: block;
  margin: auto;
}

#chat-box {
  height: 300px;
  border: 1px solid #ccc;
  margin: 10px auto;
  width: 80%;
  padding: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message {
  background-color: #e1ffc7;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 70%;
  align-self: flex-start;
  opacity: 0;
  transform: translateY(20px);
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
